@mixin vp-920 {
  @media (max-width: ($vp-920)) {
    @content;
  }
}

@mixin vp-1600 {
  @media (min-width: ($vp-1600)) {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
