/* colors */
$color-black: #202020;
$color-white: #ffffff;
$color-white-smoke: #f0f0f0;
$color-sunset-orange: #ff4b41;
$color-nobel: #999999;
$color-melon: #ffbcac;
$color-whisper: #ebebeb;

$color-accent-main: $color-sunset-orange;

/* breakpoints */
$vp-1600: 1600px;
$vp-920: 920px;

/* typography */
$primary-font: "Pragmatica Next VF", "Arial", sans-serif;
$fz-default: 12px;

/* animation */
$tf-default: ease;
$trans-default: 0.3s $tf-default;
