.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @include vp-920 {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.copyright__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 50%;
  margin-top: 30px;
  color: $color-nobel;

  @include vp-920 {
    display: block;
    max-width: none;
    margin-top: 0;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 47px;
  letter-spacing: 0.01em;

  br {
    display: none;
  }

  @include vp-920 {
    margin-right: 0;
    margin-bottom: 20px;

    br {
      display: inline;
    }
  }
}

.copyright__design-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.01em;
  transition:
    opacity $trans-default,
    color $trans-default;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transform: translate(-50%, -50%);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:active) {
      color: $color-accent-main;
    }
  }

  &:focus-visible {
    color: $color-accent-main;
  }

  &:active {
    color: $color-accent-main;
    opacity: 0.7;
  }
}

.copyright__social {
  max-width: 50%;

  @include vp-920 {
    max-width: none;
    margin-bottom: 22px;
  }
}
