.footer {
  padding: 30px 0;

  @include vp-920 {
    padding: 20px 0 26px;
  }
}

.footer__wrapper {
  border-top: 1px solid $color-white-smoke;

  @include vp-920 {
    padding: 0 20px;
    border-color: $color-whisper;
  }
}

.footer__nav {
  display: flex;
  align-items: flex-start;
  width: calc(100% + 34px);
  margin-left: -17px;
  padding-top: 18px;
  margin-bottom: 10px;

  @include vp-920 {
    width: calc(100% + 20px);
    margin-left: -10px;
    min-height: 80px;
    margin-bottom: 13px;
    padding-top: 6px;
  }
}

.footer__nav-list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: auto;
  min-width: 50%;
  min-height: 160px;
  padding-right: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -19px;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: $color-whisper;
  }

  @include vp-920 {
    min-height: 80px;
    column-gap: 32px;

    &::before {
      top: -6px;
    }
  }
}

.footer__nav-item {
  @include vp-920 {
    &--mobile-hidden {
      display: none;
    }
  }
}

.footer__form {
  width: 49.35%;
  margin: 0 auto 150px;

  @include vp-920 {
    width: auto;
    margin-bottom: 60px;
  }
}
