.form {
  form {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
}

.form__title {
  margin-bottom: 15px;
  color: $color-nobel;
}

.form__input {
  flex-grow: 1;
}

.form__button {
  max-width: 50%;
}
