.promo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 80px;
  aspect-ratio: 760/440;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow: scroll;
  scrollbar-width: none;
  transition: opacity $trans-default;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  @media (hover: hover) {
    &:hover:not(:active) {
      opacity: 0.8;
    }
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--primary {
    color: $color-white-smoke;
    background-color: $color-black;
    background-image:
      image-set(
        url("../../images/promo-1@2x.webp") type("image/webp") 2x,
        url("../../images/promo-1@1x.webp") type("image/webp") 1x,
        url("../../images/promo-1@2x.png") 2x,
        url("../../images/promo-1@1x.png") 1x
      );

    .promo-card__lead {
      font-weight: 600;
      font-size: 60px;
      line-height: 40px;
    }

    @mixin vp-920 {
      background-image:
        image-set(
          url("../../images/promo-1-mobile@2x.webp") type("image/webp") 2x,
          url("../../images/promo-1-mobile@1x.webp") type("image/webp") 1x,
          url("../../images/promo-1-mobile@2x.png") 2x,
          url("../../images/promo-1-mobile@1x.png") 1x
        );
    }
  }

  &--secondary {
    background-color: $color-melon;
    background-image:
      image-set(
        url("../../images/promo-2@2x.webp") type("image/webp") 2x,
        url("../../images/promo-2@1x.webp") type("image/webp") 1x,
        url("../../images/promo-2@2x.png") 2x,
        url("../../images/promo-2@1x.png") 1x
      );

    .promo-card__lead {
      width: min-content;
      font-weight: 750;
      font-size: 120px;
      line-height: 90px;
      font-stretch: 10%;
    }
  }
}

.promo-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.promo-card__header {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding-left: 11px;
}

.promo-card__title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.promo-card__count {
  margin: 0;
  margin-top: 10px;
  letter-spacing: 0.01em;
}

.promo-card__count-new {
  margin-left: auto;
}

.promo-card__lead {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding-top: 17px;
  color: $color-accent-main;
  text-transform: uppercase;
  text-align: center;
}
