.promo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-bottom: 80px;
  min-height: 440px;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  scrollbar-width: none;
  transition: opacity $trans-default;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:active) {
      opacity: 0.8;
    }
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }


  &--primary {
    color: $color-white-smoke;
    background-color: $color-black;
    background-image:
      image-set(
        url("../../images/promo-1@2x.webp") type("image/webp") 2x,
        url("../../images/promo-1@1x.webp") type("image/webp") 1x,
        url("../../images/promo-1@2x.png") 2x,
        url("../../images/promo-1@1x.png") 1x
      );

    @include vp-920 {
      background-image:
        image-set(
          url("../../images/promo-1-mobile@2x.webp") type("image/webp") 2x,
          url("../../images/promo-1-mobile@1x.webp") type("image/webp") 1x,
          url("../../images/promo-1-mobile@2x.png") 2x,
          url("../../images/promo-1-mobile@1x.png") 1x
        );
    }
  }

  &--secondary {
    background-color: $color-melon;
    background-image:
      image-set(
        url("../../images/promo-2@2x.webp") type("image/webp") 2x,
        url("../../images/promo-2@1x.webp") type("image/webp") 1x,
        url("../../images/promo-2@2x.png") 2x,
        url("../../images/promo-2@1x.png") 1x
      );

    .promo-card__lead {
      width: min-content;
      font-weight: 750;
      font-size: clamp(60px, 10vw, 120px);
      line-height: 0.75;
      font-stretch: 10%;
    }
  }

  @include vp-920 {
    min-height: 300px;
    padding: 20px;
  }
}

.promo-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.promo-card__header {
  display: flex;
  align-items: flex-start;
  min-height: 40px;
  padding-left: 11px;

  @include vp-920 {
    padding-left: 0;
  }
}

.promo-card__title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  @include vp-920 {
    position: static;
    transform: none;
  }
}

.promo-card__count {
  margin: 0;
  margin-top: 10px;
  letter-spacing: 0.01em;

  @include vp-920 {
    margin-top: 0;
    margin-right: 18px;
  }
}

.promo-card__count-new {
  margin-left: auto;
}

.promo-card__lead {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding-top: 17px;
  font-weight: 600;
  font-size: 60px;
  line-height: 40px;
  color: $color-accent-main;
  text-transform: uppercase;
  text-align: center;

  @include vp-920 {
    align-items: flex-start;
    margin-top: 69px;
    padding: 0;
    font-size: 50px;
    line-height: 40px;
  }
}
