.site-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.site-list__item {
  border-right: 1px solid $color-white-smoke;

  &:last-child {
    border-right: none;
  }

  &--secondary {
    border-right: none;
  }
}

.site-list__link {
  min-width: 159px;
  min-height: 119px;

  &--secondary {
    min-width: auto;
    margin-left: 33px;
  }
}

.site-list__count {
  display: none;
}
