.view-switch__list {
  @include list-reset;

  &--cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.view-switch__item {
  &--wide {
    grid-column: span 2;
  }
}
